<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--add name="CSCAdmin" connectionString="Data Source=optimus-80\sqlserver2008r2;Initial Catalog=CSCAdmin;Persist Security Info=True;User ID=sa;Password=optimus" providerName="System.Data.SqlClient"/-->
    <add name="CSCAdmin" connectionString="Provider=SQLOLEDB;Initial Catalog=CSCAdmin;Data Source=172.16.0.42;User ID=sa;Password=optimus;Connection Timeout=15;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient"/>
    <add name="CSCMaster" connectionString="Data Source=optimus-80\sqlserver2008r2;Initial Catalog=CSCMaster;Persist Security Info=True;User ID=sa;Password=optimus" providerName="System.Data.SqlClient"/>
    <add name="CSCCurSale" connectionString="Data Source=optimus-80\sqlserver2008r2;Initial Catalog=CSCCurSale;Persist Security Info=True;User ID=sa;Password=optimus" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
